* {
    font-family: 'e-Ukraine', 'Roboto', arial;
}
body {
    background: #f1f4f5;
    margin: 0;
}
.head {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background: #2e8cc2;
    height: 60px;
    box-shadow: 0px 1px 7px 1px rgb(0 0 0 / 10%);
}
.name {
    text-align: center;
    font-size: 30px;
    margin-top: 14px;
    font-weight: bolder;
    color: #ffffff;
}
.vidstup {
    max-width: 1200px;
    margin: auto;
}
.content {
    margin: 10px;
}
.avatar {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 10px solid rgb(255 255 255);
}
.block1 {
    text-align: center;
    height: 75px;
}
.block2 {
    background: #fff;
    font-size: 17px;
    padding: 160px 15px 15px;
    margin: 15px 0px;
    border-radius: 10px;
}
